.wrapper {
    background-image: url("../img/img.png");
    width: 1366px;
    height: 768px;
    margin: 0 auto;
    background-repeat: no-repeat;
    font-family: 'Roboto';
}

.wrapper-padding {
    padding: 51px 176px 15px 165px;
}

.img-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    list-style-type: none;
    height: 518px;
    margin: 0;
    padding: 0;
}

.header-info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 22px;
}

.logo {
    display: flex;
    text-decoration: none;
}

.header-picture {
    width: 53px;
    height: 47px;
    cursor: pointer;
}

.logo-link-text {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.logo-img {
    width: 53px;
    height: 47px;
    background: url("../img/img_1.png");
}

.logo:hover > .logo-img {
    background: url("../img/img_8.png");
    background-size: 100%;
}

.text-m {
    font-weight: 700;
    font-size: 29px;
    color: #FFFFFF;
    margin-top: -4px;
}

.text-h {
    font-weight: 700;
    font-size: 18px;
    color: #FFFFFF;
}

.logo:hover .logo-link-text span {
    color: #F26522;
}

.logo-link-text span {
    text-transform: uppercase;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

.mail:hover {
    color: #F26522;
}

.mail {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.number-tel:hover {
    color: #F26522;
}

.number-tel {
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.name-img:hover {
    color: #F26522;
}

.img:hover {
    border-bottom: 55px;
    color: #F26522;
}

.img {
    width: 300px;
    height: 220px;
}

.name-img {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.5s linear;
}

.footer-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}

.main {
    margin-bottom: 90px;
}

.main-li {
    position: relative;
    cursor: pointer;
}

.text-orange-hover {
    position: absolute;
    color: #FFFFFF;
    width: 296px;
    height: 55px;
    background: #F26522;
    display: flex;
    justify-content: space-between;
    bottom: 60px;
    left: 2px;
    transition: all 0.5s linear;
    opacity: 0;
}

.info-border:after {
    content: ">";
    margin-left: 16px;
}

.main-li:hover .text-orange-hover {
    opacity: 1;
}

.main-li:hover .name-img {
    color: #f26522;
}

.info {
    font-weight: 400;
    font-size: 10px;
}

.many {
    font-weight: 400;
    font-size: 20px;
}

.info-border {
    font-weight: 400;
    font-size: 14px;
}

.text-orange-many {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-top: 7px;
    justify-content: space-between;
    padding-bottom: 8px;
}

.info-border {
    padding-right: 37px;
    padding-top: 28px;
}